body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    margin: 0;
}

.access-granted-banner {
    font-size: 60px;
    font-weight: bold;
    color: green; /* You can adjust the color as needed */
    text-align: center;
    padding: 50px;
}

.terminal {
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    overflow: auto;
    height: 300px;
}

#output {
    margin: 0;
}

#cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
