body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    margin: 0;
}

.access-granted-banner {
    font-size: 60px;
    font-weight: bold;
    color: green; /* You can adjust the color as needed */
    text-align: center;
    padding: 50px;
}



#output {
    margin: 0;
}

#cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
/* Adjust font size for text */
.welcome {
    font-size: 24px;
}

/* Adjust dimensions for the image */
img {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
	align: center;
}
